html, body {
    margin: 0;
    padding: 0;
}

#play {
    display: block;
    width: 50%;
    height: 10vh;
    margin: 0 auto;
}

.video {
    display: inline;
    width: 49.5%;
}

#log {
    display: block;
    width: 99%;
    height: 20vh;
}
